# Pliki obiektowe i tymczasowe kompilatora
*.o
*.d
*.crf

# Pliki wynikowe i wykonywalne
*.axf


# Pliki raportów, logów i mapowania pamięci
*.lst
*.map
*.htm
*.lnp
*.plg
*.dep

# Pliki konfiguracyjne specyficzne dla Twojego komputera/użytkownika
*.uvgui.*
*.uvopt
*.bak